.btn {
    padding: 18px;
    border: none;
    border-radius: 40px;
    background-color: #D6D2C4;
    font-size: 16px;
    line-height: 20px;
    color: #1D252D;
    cursor: pointer;
}

.btn:hover {
    color: #FFF;
    background-color: #1D252D;
    outline: 1px solid #D6D2C4;
}

.btn:focus-visible {
    color: #FFF;
    background-color: #1D252D;
    outline: 1px solid #D6D2C4;
}