.btn {
    padding: 18px;
    border: none;
    border-radius: 40px;
    background-color: #D6D2C4;
    font-size: 16px;
    line-height: 20px;
    color: #1D252D;
    cursor: pointer;
}

.btn--small {
    padding: 9px;
    font-size: 12px;
    line-height: 14px;
}



.btn:hover {
    color: #FFF;
    background-color: #1D252D;
    outline: 1px solid #D6D2C4;
}

.btn:focus-visible {
    color: #FFF;
    background-color: #1D252D;
    outline: 1px solid #D6D2C4;
}

.btn[disabled] {
   pointer-events: none;
    user-select: none;
    border-color: rgba(214, 210, 196, 0.5);
    background-color: rgba(214, 210, 196, 0.5);
    color: rgba(29, 37, 45, 0.5);
}