.custom-checkbox--error .custom-checkbox__label::before {
    border-color: #E80E0A;
}

.custom-checkbox__field:checked+.custom-checkbox__label .custom-checkbox__icon {
    display: block;
}

.custom-checkbox__field:checked+.custom-checkbox__label::before {
    background-color: #D6D2C4;
    border-color: #D6D2C4;
}

.custom-checkbox__label {
    position: relative;
    display: flex;
    /*flex-direction: column;*/
    padding-left: 30px;
    user-select: none;
    cursor: pointer;
    color: #1D252D;
}

.custom-checkbox__label::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #D6D2C4;
}

.custom-checkbox__label:hover::before {
    border-color: #1D252D;
}

.custom-checkbox__field:focus-visible  + .custom-checkbox__label::before    {
    border-color: #1D252D;
}

.custom-checkbox__icon {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.custom-checkbox__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #1D252D;
}

.custom-checkbox__link {
    color: #1D252D;
    text-decoration: underline;
}