.resume-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 48px;
}

.resume-form__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 42px;
}

.resume-form__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.resume-form__btn   {
    width: 320px;
}