.resume__top {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume__title {
    margin: 0;
    font-weight: 200;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #1D252D;
}

.resume__text {
    margin: 0;
    width: 280px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #1D252D;
}

.resume__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 48px;
}

.form__btn   {
    width: 320px;
}

.resume__form-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 34px;
}

.resume__form-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 120px;
}