.vacancies {
    padding-bottom: 112px;
}

.vacancies__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.vacancies__title {
    margin: 0;
    font-weight: 200;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    color: #1D252D;
}

.vacancies__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.vacancies__contacts-text {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #1D252D;

}

.vacancies__contacts-list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.vacancies__contacts-item {
    position: relative;
}

.vacancies__contacts-item:first-child   {
    padding-right: 10px;
}

.vacancies__contacts-item:first-child::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 1px;
    height: 20px;
    background-color: #1D252D;
}

.vacancies__contacts-item:last-child    {
    padding-left: 10px;
}

.vacancies__contacts-link {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #1D252D;
}

.vacancies__contacts-send {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #1D252D;
    text-decoration: underline;
}


.vacancies__list    {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.vacancies__list-item   {
   border-bottom: 1px solid #D6D2C4; 
}

.vacancies__list-item:first-child   {
    border-top: 1px solid #D6D2C4;
}

.vacancies__list-link   {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 28px;*/
    padding-top: 28px;
    padding-bottom: 28px;
    padding-right: 28px;
    padding-left: 28px;
}

.vacancies__list-link:hover {
   background-color: rgba(214, 210, 196, 0.2); 
}



.vacancies__list-title  {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #1D252D;
}

.vacancies__list-text   {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #1D252D;
}

