.vacancies {
    padding-bottom: 120px;
}

.vacancies__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.vacancies__title {
    margin: 0;
    font-weight: 200;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    color: #1D252D;
}




.vacancies__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.vacancies__contacts-text {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #1D252D;

}

.vacancies__contacts-list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.vacancies__contacts-item {
    position: relative;
}

.vacancies__contacts-item:first-child   {
    padding-right: 10px;
}

.vacancies__contacts-item:first-child::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 1px;
    height: 20px;
    background-color: #1D252D;
}

.vacancies__contacts-item:last-child    {
    padding-left: 10px;
}

.vacancies__contacts-link {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #1D252D;
}

.vacancies__contacts-send {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #1D252D;
    text-decoration: underline;
}


.vacancies__table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.vacancies__row {
    border-bottom: 1px solid #D6D2C4;
}

.vacancies__row:hover {
    background-color: rgba(214, 210, 196, 0.2);
}

.vacancies__cell {
    font-weight: 300;
    padding: 28px;
    color: #1D252D;
}

.vacancies__cell:first-child {
    width: 66%;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: left;


}

.vacancies__cell:last-child {
    width: 33%;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}

.vacancies__row:first-child {
    border-top: 1px solid #D6D2C4;
}